In [2]:
from osgeo import ogr
from osgeo import gdal

In [4]:
# load the UCRB cells from work w/ Brian Thomas

rastpth = '../snowmelt_gw/data/gis/ucrb_cells.tif' # path to the raster
ds = gdal.Open(rastpth)
rast = np.array(ds.GetRasterBand(1).ReadAsArray())
rast[rast==-9999] = np.NaN

cells = np.unique(rast[np.isnan(rast)==False])

In [33]:
# load the buydko data frame
data = pd.read_hdf('../budyko_working.hdf','df')

In [35]:
data2 = pd.DataFrame({'idx':cells})

In [36]:
data2 = data2.merge(data,on='idx')

In [41]:
# test a value to be sure its there
data2.loc[data2.idx==cells[0]]

,idx,frlon,PETpenmanvic,P,ET,frlat,Sf,meanablseason,meandosnowfree,meanpeakswe,...,bf,sm3,sm2,sm1,prate,rr,spaidx,lat_y,lon_y,DEMelev
0,76923,-107.90625,3.217317,0.816253,0.752405,35.53125,0.168015,13.412698,119.301587,16.913863,...,0.037556,128.583999,70.557069,25.917927,1.873416,1.613467,35.53125-107.90625,35.53125,-107.90625,2296

In [42]:
data2.loc[data2.idx==cells[-1]]

,idx,frlon,PETpenmanvic,P,ET,frlat,Sf,meanablseason,meandosnowfree,meanpeakswe,...,bf,sm3,sm2,sm1,prate,rr,spaidx,lat_y,lon_y,DEMelev
8562,176757,-110.09375,2.29333,1.858809,1.366059,43.46875,0.652633,40.873016,245.777778,315.920505,...,0.33994,264.393845,84.524053,21.975734,3.073819,1.74513,43.46875-110.09375,43.46875,-110.09375,2824

In [40]:
# check lengths to be sure everything is there
print len(cells) - len(data2)

0

In [43]:
# looks good, export the data and the elevation data to make a map.
data2.to_hdf('./barnhart_comps_data.hdf','df',format='fixed',complevel=5,complib='bzip2',fletcher32=True)

In [44]:
data2.columns

Index([u'idx', u'frlon', u'PETpenmanvic', u'P', u'ET', u'frlat', u'Sf',
       u'meanablseason', u'meandosnowfree', u'meanpeakswe', u'meanpeaket',
       u'meandopeaket', u'lon_x', u'meanablslope', u'lat_x', u'meandopeakswe',
       u'infilt', u'fs_active', u'l1_quartz', u'l3_Wpwp_FRACT', u'l3_bulkD',
       u'l3_init_moist', u'annual_prec', u'l2_soil_density', u'l2_Ksat',
       u'rough', u'l2_Wcr_FRACT', u'l2_depth', u'l2_quartz', u'l1_phi_s',
       u'l3_bubble', u'l1_expt', u'Ws', u'l1_Ksat', u'l1_soil_density',
       u'l1_resid_moisture', u'l2_phi_s', u'l2_init_moist', u'l2_expt',
       u'l1_init_moist', u'l1_depth', u'off_gmt', u'l3_expt', u'l3_depth',
       u'Dsmax', u'l1_Wpwp_FRACT', u'l3_resid_moisture', u'avg_T',
       u'l3_soil_density', u'l3_phi_s', u'dp', u'c', u'l2_bulkD', u'l2_bubble',
       u'l2_Wpwp_FRACT', u'l3_Ksat', u'l3_quartz', u'Ds', u'l1_bulkD',
       u'l1_bubble', u'l2_resid_moisture', u'elev', u'snow_rough',
       u'l1_Wcr_FRACT', u'l3_Wcr_FRACT', u'slope', u'rsquared_adj',
       u'intercept', u'rsquared', u'pvalue', u'w_flux', u'w_flux2', u'w_flux3',
       u'snowmelt', u'Sf2', u'Sf1', u'Sf_2', u'Sf_1', u'wflux4', u'wflux5',
       u'rain', u'netSM', u'seas', u'MAT', u'RR_pval', u'RR_intercept',
       u'RR_slope', u'RR_rsqrd', u'bf', u'sm3', u'sm2', u'sm1', u'prate',
       u'rr', u'spaidx', u'lat_y', u'lon_y', u'DEMelev'],
      dtype='object')

In [52]:
lat = data2['frlat']
lon = data2['frlon']
idx = data2['idx']
meanpeakSWE = data2['meanpeakswe']
elev = data2['DEMelev']

In [55]:
out = pd.DataFrame({'idx':idx,'lat':lat,'lon':lon,'elev':elev,'meanpeakSWE':meanpeakSWE})

In [57]:
out.to_csv('./barnhart_comps.csv', index=False)