In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_hdf('./budyko_working.hdf','df')
df['idx2'] = df.idx.copy()

In [3]:
cells = pd.read_pickle('./ecoregion_cells_all.df')

In [4]:
idx = np.zeros([len(df)-len(cells)])
idx[:] = np.NaN
rc = idx.copy()

In [5]:
tmp = pd.DataFrame({'idx':idx,'rc':rc})

In [6]:
cells = pd.concat([cells,tmp])

In [7]:
df = pd.merge(df,cells, on='idx', left_index=True)

In [8]:
df.dropna(subset=['idx'],inplace=True)

In [9]:
len(df)

37192

In [10]:
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
len(np.unique(df.idx))

37192

In [12]:
from palettable.colorbrewer.qualitative import Set3_12 as cbcust

In [13]:
regions = ['Cascades','East Cascades','North Cascades','Sierra','Klamath','Northern Rockies','Middle Rockies',
           'Canadian Rockies','Idaho Batholith','Blue Mountains','North Basin and Range','Wasatch',
           'Southern Rockies','Central Basin and Range','Coast Range']

print len(regions)

15

plt.figure(figsize=[12,10])
plt.scatter(df.frlon,df.frlat,s=20,c=df.rc, edgecolor = 'none', cmap=mpl.colors.ListedColormap(cbcust.mpl_colors))
cb = plt.colorbar()
cb.set_ticks(np.arange(1,16))
cb.set_ticklabels(regions)
plt.xlabel('Longitude', fontsize = 16)
plt.ylabel('Latitude', fontsize = 16)
plt.title('Ecoregion Groups', fontsize = 20)

#plt.savefig('./figures/ecoregions.png', dpi=300)

In [14]:
df.head()

,frlon,PETpenmanvic,P,ET,frlat,Sf,meanablseason,meandosnowfree,meanpeakswe,meanpeaket,...,rr,Tmean,idx,meanrunoff,spaidx,lat_y,lon_y,DEMelev,idx2,rc
0,-105.53125,3.322108,1.145967,1.086948,35.34375,0.122730,9.269841,118.920635,15.495460,5.771660,...,2.317366,9.266,74722,0.025480,35.34375-105.53125,35.34375,-105.53125,2108,74722,13
1,-105.59375,3.255663,1.159279,1.100100,35.34375,0.139755,10.365079,123.682540,19.763906,5.697425,...,2.300832,8.635,74723,0.024501,35.34375-105.59375,35.34375,-105.59375,2220,74723,13
2,-105.53125,3.286356,1.205084,1.137650,35.40625,0.113579,8.031746,120.111111,14.156998,5.680984,...,2.476741,9.643,75442,0.029474,35.40625-105.53125,35.40625,-105.53125,2068,75442,13
3,-105.59375,3.216291,1.319941,1.239670,35.40625,0.139899,11.666667,125.222222,21.029316,5.706232,...,2.629906,8.686,75443,0.038096,35.40625-105.59375,35.40625,-105.59375,2226,75443,13
4,-105.34375,3.287146,1.108797,1.053074,35.46875,0.101935,7.190476,113.079365,11.065968,5.691173,...,2.320753,9.665,76159,0.023867,35.46875-105.34375,35.46875,-105.34375,2040,76159,13

In [15]:
df.columns

Index([u'frlon', u'PETpenmanvic', u'P', u'ET', u'frlat', u'Sf',
       u'meanablseason', u'meandosnowfree', u'meanpeakswe', u'meanpeaket',
       ...
       u'rr', u'Tmean', u'idx', u'meanrunoff', u'spaidx', u'lat_y', u'lon_y',
       u'DEMelev', u'idx2', u'rc'],
      dtype='object', length=102)

In [16]:
df.to_hdf('./budyko_working_er_all.hdf','df',format='fixed',complevel=5,complib='bzip2',fletcher32=True)