In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls -ltrh *.hdf

-rwx------  1 barnhatb  staff    11M Mar  9 13:27 budyko_working_er.hdf
-rwx------  1 barnhatb  staff   6.4M Mar 15 13:33 budyko_working_er_sm_all.hdf
-rwx------  1 barnhatb  staff   6.3M Mar 15 13:34 budyko_working_er_sm.hdf
-rwx------  1 barnhatb  staff   6.6M Mar 18 16:55 budyko_working_er_sm2_all.hdf
-rwx------  1 barnhatb  staff   6.6M Mar 18 16:55 budyko_working_er_sm2.hdf
-rwx------  1 barnhatb  staff    99M Apr  2 11:32 budyko_working.hdf
-rwx------  1 barnhatb  staff    13M Apr  2 11:36 budyko_working_er_all.hdf

In [3]:
df = pd.read_hdf('./budyko_working.hdf','df')

In [4]:
df.head()

                         frlon  PETpenmanvic         P        ET     frlat  \
latitude longitude
25.03125 -100.03125 -100.03125      4.044650  2.380122  1.989825  25.03125
         -100.09375 -100.09375      3.991995  2.871153  2.254173  25.03125
         -100.15625 -100.15625      3.802503  2.924025  2.417331  25.03125
         -100.21875 -100.21875      3.627629  2.321484  2.046060  25.03125
         -100.28125 -100.28125      3.509792  2.118430  1.900092  25.03125

                           Sf  meanablseason  meandosnowfree  meanpeakswe  \
latitude longitude
25.03125 -100.03125  0.001405       0.285714       14.809524     0.308465
         -100.09375  0.001652       0.269841       13.000000     0.488219
         -100.15625  0.002934       1.174603       40.952381     1.307113
         -100.21875  0.006171       0.539683       21.539683     0.825600
         -100.28125  0.011271       1.301587       47.968254     2.278933

                     meanpeaket ...   snowmelt       Sf2       Sf1      Sf_2  \
latitude longitude              ...
25.03125 -100.03125    6.680370 ...   1.025183  0.003792  0.002340  0.000067
         -100.09375    6.671541 ...   1.755262  0.004152  0.002603  0.000152
         -100.15625    6.393477 ...   0.874662  0.006159  0.004277  0.001362
         -100.21875    6.152420 ...   1.514448  0.011660  0.008391  0.003238
         -100.28125    6.032642 ...   1.418163  0.022706  0.015937  0.006083

                         Sf_1    wflux4    wflux5      rain     netSM  idx
latitude longitude
25.03125 -100.03125  0.000584  7.721596  7.719330  7.731232  1.766832    1
         -100.09375  0.000760  9.518770  9.515616  9.527388  2.759381    2
         -100.15625  0.002033  9.240017  9.239107  9.337554  1.443875    3
         -100.21875  0.004505  7.564592  7.552627  7.577787  2.294001    4
         -100.28125  0.008177  6.666998  6.648131  6.704189  2.469267    5

[5 rows x 80 columns]

In [5]:
df.columns

Index([u'frlon', u'PETpenmanvic', u'P', u'ET', u'frlat', u'Sf', u'meanablseason', u'meandosnowfree', u'meanpeakswe', u'meanpeaket', u'meandopeaket', u'meanablslope', u'meandopeakswe', u'infilt', u'fs_active', u'l1_quartz', u'l3_Wpwp_FRACT', u'l3_bulkD', u'l3_init_moist', u'annual_prec', u'l2_soil_density', u'l2_Ksat', u'rough', u'l2_Wcr_FRACT', u'l2_depth', u'l2_quartz', u'l1_phi_s', u'l3_bubble', u'l1_expt', u'Ws', u'l1_Ksat', u'l1_soil_density', u'l1_resid_moisture', u'l2_phi_s', u'l2_init_moist', u'l2_expt', u'l1_init_moist', u'l1_depth', u'off_gmt', u'l3_expt', u'l3_depth', u'Dsmax', u'l1_Wpwp_FRACT', u'l3_resid_moisture', u'avg_T', u'l3_soil_density', u'l3_phi_s', u'dp', u'c', u'l2_bulkD', u'l2_bubble', u'l2_Wpwp_FRACT', u'l3_Ksat', u'l3_quartz', u'Ds', u'l1_bulkD', u'l1_bubble', u'l2_resid_moisture', u'elev', u'snow_rough', u'l1_Wcr_FRACT', u'l3_Wcr_FRACT', u'slope', u'rsquared_adj', u'intercept', u'rsquared', u'pvalue', u'w_flux', u'w_flux2', u'w_flux3', u'snowmelt', u'Sf2', u'Sf1', u'Sf_2', u'Sf_1', u'wflux4', u'wflux5', u'rain', u'netSM', u'idx'], dtype='object')

In [6]:
df = df.loc[df.pvalue<=0.005,:] # subset only significant relationships

In [8]:
df = df.loc[df.rsquared>=0.35,:] # subset only relationships with high r2 values

In [9]:
len(df)

18956

In [12]:
out = df.slope

In [13]:
out.head()

latitude  longitude
25.21875  -100.96875    0.012848
25.34375  -100.28125   -0.004368
          -101.59375    0.011648
25.46875  -101.15625    0.017699
26.09375  -105.59375    0.002650
Name: slope, dtype: float64

In [14]:
out.to_csv('./data/CONUS_slope.csv',index=True,header=False)