# Data Merger

Merge data computed for this project into one working data frame

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.load('./new_budyko_data.npz') #load the normal Budyko VIC data

In [3]:
df = pd.DataFrame() # initialize the data frame

In [4]:
# loop through the keys provided and create a data frame
for key in data.keys():
    df[key] = data[key]
    print key
    
del df['Sf']

frlon
PETpenmanvic
P
ET
Sf
frlat

In [5]:
df.head()

       frlon  PETpenmanvic         P        ET     frlat
0 -100.03125      4.044650  2.380122  1.989825  25.03125
1 -100.09375      3.991995  2.871153  2.254173  25.03125
2 -100.15625      3.802503  2.924025  2.417331  25.03125
3 -100.21875      3.627629  2.321484  2.046060  25.03125
4 -100.28125      3.509792  2.118430  1.900092  25.03125

In [6]:
len(df)

309673

In [7]:
data = np.load('./new_Sf_calc.npz') # load the new Sf data
df['Sf'] = data['Sf']

In [8]:
data = np.load('./budyko_swe_data.npz') # load the SWE data

# loop through the SWE data 
for key in data.keys():
    df[key] = data[key]
    print key

meanablseason
meandosnowfree
meanpeakswe
meanpeaket
meandopeaket
lon
meanablslope
lat
meandopeakswe

In [9]:
meanablslope = data['meanablslope']

In [10]:
meanablslope[np.isinf(meanablslope)]=np.NaN

In [11]:
df.meanablslope = meanablslope

In [12]:
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
data = np.load('./data/soil_data.npz') # load the soil data

# loop through the soil data

for key in data.keys():
    df[key] = data[key]
    print key

infilt
fs_active
l1_quartz
l3_Wpwp_FRACT
l3_bulkD
l3_init_moist
annual_prec
l2_soil_density
l2_Ksat
rough
l2_Wcr_FRACT
l2_depth
l2_quartz
lon
l1_phi_s
l3_bubble
l1_expt
Ws
l1_Ksat
l1_soil_density
l1_resid_moisture
l2_phi_s
l2_init_moist
l2_expt
l1_init_moist
l1_depth
off_gmt
l3_expt
l3_depth
Dsmax
l1_Wpwp_FRACT
l3_resid_moisture
avg_T
lat
l3_soil_density
l3_phi_s
dp
c
l2_bulkD
l2_bubble
l2_Wpwp_FRACT
l3_Ksat
l3_quartz
Ds
l1_bulkD
l1_bubble
l2_resid_moisture
elev
snow_rough
l1_Wcr_FRACT
l3_Wcr_FRACT

In [14]:
data = np.load('./whole_domain_partitioning_results.npz')
for key in data.keys():
    df[key] = data[key]
    print key

slope
rsquared_adj
lon
intercept
lat
rsquared
pvalue

In [15]:
data = np.load('./water_flux_method_1.npz') # water flux method 1
for key in data.keys():
    df[key] = data[key]
    print key

lat
lon
w_flux

In [16]:
len(df)

309673

In [17]:
data = np.load('./water_flux_method_2.npz') # water flux method 2
for key in data.keys():
    df[key] = data[key]
    print key

lat
w_flux2
lon

In [18]:
data = np.load('./water_flux_method_3.npz') # water flux method 3
for key in data.keys():
    df[key] = data[key]
    print key

lat
lon
w_flux3

In [19]:
len(df)

309673

In [20]:
data = np.load('./snowmelt.npz') # snowmelt alone
for key in data.keys():
    df[key] = data[key]
    print key

lat
lon
snowmelt

In [21]:
data = np.load('./new_Sf_sense.npz') # snow fraction sensitivity analysis 
for key in data.keys():
    df[key] = data[key]
    print key

lon
Sf2
Sf1
Sf_2
Sf_1
lat

In [22]:
data = np.load('./w_flux4.npz') # snowmelt + precip.
for key in data.keys():
    df[key] = data[key]
    print key

lat
wflux4
lon

In [23]:
data = np.load('./w_flux5.npz') # snowmelt + rain
for key in data.keys():
    df[key] = data[key]
    print key

lat
wflux5
lon

In [24]:
data = np.load('./rain.npz') # rain alone
for key in data.keys():
    df[key] = data[key]
    print key

lat
lon
rain

In [25]:
data = np.load('./net_snowmelt.npz') # snowmelt - ET
for key in data.keys():
    df[key] = data[key]
    print key

lat
netSM
lon

In [26]:
data = np.load('./MATsignedseas.npz') # Mean annual temp and signed seasonality
for key in data.keys():
    df[key] = data[key]
    print key

lat
seas
lon
MAT

In [27]:
data = np.load('./RR_interannual_slope.npz') # Runoff ratio - snowmelt relationship data
for key in data.keys():
    df[key] = data[key]
    print key

RR_pval
RR_intercept
RR_slope
idx
RR_rsqrd

In [28]:
data = np.load('./smbf.npz') # Runoff ratio - snowmelt relationship data
for key in data.keys():
    df[key] = data[key]
    print key

bf
lon
sm3
sm2
sm1
lat

In [29]:
data = np.load('./data/precip_rate.npz') # Runoff ratio - snowmelt relationship data
for key in data.keys():
    df[key] = data[key]
    print key
del df['idx']

prate
idx

In [30]:
data = np.load('./data/rainfall_rate.npz') # Runoff ratio - snowmelt relationship data
for key in data.keys():
    df[key] = data[key]
    print key

lat
lon
rr

In [31]:
data = np.load('./mean_temp.npz') # Runoff ratio - snowmelt relationship data
for key in data.keys():
    df[key] = data[key]
    print key

lat
Tmean
lon
idx

In [32]:
data = np.load('./data/mean_runoff.npz') # Runoff ratio - snowmelt relationship data
for key in data.keys():
    df[key] = data[key]
    print key

meanrunoff
idx

In [33]:
df['idx'] = np.arange(1,len(df)+1)

In [34]:
# create another index for the data
spaidx = []
for lat,lon in zip(list(df.frlat.as_matrix()),list(df.frlon.as_matrix())):
    spaidx.append(str(lat)+str(lon))
    
df['spaidx'] = spaidx

In [35]:
dem = pd.read_hdf('./data/VIC_DEM.hdf','df')

df = pd.merge(df,dem,on='spaidx')

In [36]:
# create a multiindex for the data frame

arrays = [df.frlat,df.frlon]
tuples = list(zip(*arrays))

index = pd.MultiIndex.from_tuples(tuples, names=['latitude','longitude'])

df.index = index

In [37]:
df.head()

                         frlon  PETpenmanvic         P        ET     frlat  \
latitude longitude
25.03125 -100.03125 -100.03125      4.044650  2.380122  1.989825  25.03125
         -100.09375 -100.09375      3.991995  2.871153  2.254173  25.03125
         -100.15625 -100.15625      3.802503  2.924025  2.417331  25.03125
         -100.21875 -100.21875      3.627629  2.321484  2.046060  25.03125
         -100.28125 -100.28125      3.509792  2.118430  1.900092  25.03125

                           Sf  meanablseason  meandosnowfree  meanpeakswe  \
latitude longitude
25.03125 -100.03125  0.001405       0.285714       14.809524     0.308465
         -100.09375  0.001652       0.269841       13.000000     0.488219
         -100.15625  0.002934       1.174603       40.952381     1.307113
         -100.21875  0.006171       0.539683       21.539683     0.825600
         -100.28125  0.011271       1.301587       47.968254     2.278933

                     meanpeaket   ...           sm1     prate        rr  \
latitude longitude                ...
25.03125 -100.03125    6.680370   ...     26.782371  7.757632  7.746734
         -100.09375    6.671541   ...     27.010345  9.562056  9.546255
         -100.15625    6.393477   ...     27.983320  9.382570  9.365323
         -100.21875    6.152420   ...     27.716505  7.613218  7.581129
         -100.28125    6.032642   ...     27.690968  6.790130  6.728359

                      Tmean  idx  meanrunoff              spaidx     lat_y  \
latitude longitude
25.03125 -100.03125  18.889    1    0.342695  25.03125-100.03125  25.03125
         -100.09375  18.872    2    0.538990  25.03125-100.09375  25.03125
         -100.15625  16.202    3    0.408476  25.03125-100.15625  25.03125
         -100.21875  13.401    4    0.224773  25.03125-100.21875  25.03125
         -100.28125  11.491    5    0.162114  25.03125-100.28125  25.03125

                         lon_y  DEMelev
latitude longitude
25.03125 -100.03125 -100.03125     1138
         -100.09375 -100.09375     1169
         -100.15625 -100.15625     1664
         -100.21875 -100.21875     2168
         -100.28125 -100.28125     2461

[5 rows x 100 columns]

In [38]:
df.to_hdf('./budyko_working.hdf','df',format='fixed',complevel=5,complib='bzip2',fletcher32=True)

In [38]:
!ls -lth *.hdf

-rwx------  1 barnhatb  staff   243M Jul 28 12:03 budyko_working.hdf
-rwx------  1 barnhatb  staff    11M Jul 27 15:50 budyko_working_er_sm2.hdf
-rwx------  1 barnhatb  staff    11M Jul 27 15:49 budyko_working_er_sm2_all.hdf
-rw-r--r--  1 barnhatb  staff   101M May 29 11:03 budyko_working_DEM.hdf
-rwx------  1 barnhatb  staff    11M May 27 17:05 WSC_HUC8_budyko.hdf
-rwx------  1 barnhatb  staff    11M May 27 17:05 budyko_working_er_DEM.hdf
-rwx------  1 barnhatb  staff   138K May 27 17:05 budyko_working_WSC_HUC10.hdf
-rwx------  1 barnhatb  staff   1.6M May 27 17:05 budyko_working_WSC_HUC8.hdf
-rwx------  1 barnhatb  staff    14M May 27 17:05 budyko_working_er_all.hdf
-rwx------  1 barnhatb  staff   6.3M May 27 17:05 budyko_working_er_sm.hdf
-rwx------  1 barnhatb  staff    11M May 27 17:05 budyko_working_er.hdf
-rwx------  1 barnhatb  staff   6.4M May 27 17:05 budyko_working_er_sm_all.hdf